*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #0f192c;
    --secondary-color: #f3f3f3;
    --secondary-color-100: #ffffff;
    --font-color: #757b86;
    --black-color: #000;
    --white-color: #fff;
    --icon-color: #0ce0ff;
    --btn-color: #015fc9;
    --primary-font: 'DM Sans';
    --gutter-left: 15px;
    --gutter-right: 15px;
}

html, body{
    scroll-behavior: smooth;
}
body{
    font-size: 14px;
    font-weight: 400;
    font-family: 'DM Sans';
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
}
span{
    display: inline-block;
    color: var(--font-color);
}
/* btn */
.primary-btn{
    text-align: center;
    background-color: var(--btn-color);
    padding: 15px 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--white-color);
    display: inline-block;
    border-radius: 10px;
    transition: all 0.8s ease;
}
.primary-btn:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.bg-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
/* title */
.title h2{
    color: var(--black-color);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}
/* all span & img */
.all-span-img{
    margin-bottom: 10px;
}
.all-span-img span{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 0px 10px;
}
.all-span-img img{
    margin-bottom: 2px;
    display: inline-block;
}
/* flex property */
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.align-start{
    align-items: flex-start;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}
/* padding*/
.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
/* width class */
.w-1{
    width: 8.3333%;
}
.w-2{
    width: 16.6666%;
}
.w-3{
    width: 25%;
}
.w-4{
    width: 33.3333%;
}
.w-5{
    width: 41.6666%;
}
.w-6{
    width: 50%;
}
.w-7{
    width: 58.3333%;
}
.w-8{
    width: 66.6666%;
}
.w-9{
    width: 75%;
}
.w-10{
    width: 83.3333%;
}
.w-11{
    width: 91.6666%;
}
.w-12{
    width: 100%;
}
.w-1, .w-2, .w-1, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12{
    padding-left: var(--gutter-left);
    padding-right: var(--gutter-right);
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding-left: var(--gutter-left);
    padding-right: var(--gutter-right);
}
.row{
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -15px;
    margin-right: -15px; */
}
/* toggle , fixed-header*/
.toggle{
    width: 40px;
    height: 40px;
    color: var(--icon-color);
    margin-left: auto;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid var(--font-color);
    display: none;
}
.fixed-header{
    position: fixed;
    width: 100%;
    z-index: 99;
    top: -10px;
}
.back-to-top{
    width: 45px;
    height: 45px;
    background-color: #0077ff;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    text-align: center;
    transition: all 1s ease-in-out;
}
.back-to-top i{
    color: #ffffff;
    font-size: 16px;
    line-height: 45px;
}
/* particles-js */
#particles-js{
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    /* z-index: -1; */
}
.particles-js-canvas-el{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
/* theme-feature */
.setting{
    top: 35%;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 5;
    text-align: center;
    padding: 10px 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 30px;
    background-color: var(--primary-color);
    color: var(--icon-color);
    position: fixed;
}
.setting i{
    animation: theme-change 1s linear infinite alternate;
}
@keyframes theme-change{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.theme-box{
    position: fixed;
    width: 130px;
    top: 40%;
    right: 30px;
    padding: 10px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 1px solid var(--btn-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 35px -15px var(--icon-color);
    display: none;
}
.dark{
    padding: 8px 20px;
    margin: 10px;
    background-color: var(--primary-color);
}
.light{
    padding: 8px 20px;
    margin: 10px;
    background-color: var(--white-color);
    color: #0f192c;
}
.green{
    padding: 8px 20px;
    margin: 10px;
    background-color: #001722;
}
/* pr-loader */
#pre-loader{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
    width: 100%;
    height: 100%;
}
.loader img{
    width: 50px;
    transition: all 1s;
}
.loader img{
    animation: loader 1s linear infinite alternate;
}
@keyframes loader{
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(360deg);
    }
}
/* cursor */
.cursor{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    transform: scale(1);
    background-color: rgba(1, 94, 201, 0.478);
    transition-timing-function: ease-out;
    transition-duration: 0.1s;
    z-index: 50;
}
.cursor2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    transform: scale(1);
    border: 1px solid var(--icon-color);
    opacity: 0.5;
    transition-timing-function: ease-in;
    transition-duration: 0.1s;
    z-index: 50;
}
/* navigation-bar */
.navbar{
    width: 100%;
    background-color: var(--primary-color);
}
.row ul{
    display: flex;
}
.nav-details{
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-details ul li i{
    color: var(--btn-color);
    padding-left: 15px;   
}
.nav-details ul li span, .nav-icon ul li span, .footer-details ul li span{
    padding-right: 15px;
    padding-left: 5px;
    font-size: 13px;
}
.nav-icon{
    margin-left: auto;
}
.nav-icon ul li i{
    color: var(--white-color);
    padding: 0px 12px;
    transition: all 0.5s ease;
}
.nav-icon ul li i:hover, nav ul li i:hover{
    color: var(--icon-color);
}
.nav-details ul li:hover span, .nav-icon ul li:hover span{
    color: var(--white-color);
    transition: all 0.5s ease;
}
/* main-nevigation */
.main-nevigation{
    background-color: #111d32;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 1s ;
}
/* logo */
.logo img{
    width: 150px;
    margin-right: 50px;
}
/* nav-bar */
.main-nevigation nav{
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-left: auto;
}
nav{
    position: relative;
}
nav ul li a span{
    padding: 15px;
    text-transform: capitalize;
    font-size: 15px;
}
nav::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 25px;
    background-color: rgba(128, 128, 128, 0.671);
    top: 25%;
    right: 33%;
}
nav ul li i{
    color: var(--white-color);
    padding: 20px 10px;
}
.btn{
    background-color: var(--btn-color);
    padding: 10px 25px;
    margin-top: 3px;
    margin-left: 15px;
    line-height: 2;
    display: block;
    font-size: 14px;
    color: var(--white-color);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.5s ease;
}
.btn:hover{
    background-color: var(--primary-color);
}
.phn-no{
    margin-left: auto;
}
.phn-no >ul{
    display: inline-block;
}
.phn-no ul li{
    line-height: normal;
    padding-bottom: 5px;
}
.phn-no ul li span{
    color: white;
    font-size: 14px;
    transition: all 0.3s ease-in;
    display: inline-block;
}
.phn-no img{
    width: 40px;
    margin-right: px;
    overflow: hidden;
    display: inline-block;
}
.phn-no:hover a span{
    color: var(--icon-color);
}
/* dropdown */
.dropdown{
    position: relative;
}
.dropdown-menu, .view-page{
    position: relative;
    transition: all 0.6s ease;
    overflow: hidden;
}
.dropdown::before{
    position: absolute;
    content: '';
    bottom: 0%;
    left: 50%;
    border-bottom: 5px solid var(--icon-color);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    box-sizing: border-box;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.dropdown:hover::before{
    visibility: visible;
    opacity: 1;
}
.dropdown:hover .dropdown-menu, .dropdown:hover .sub-dropdown{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    box-shadow: 0px 0px 50px 2px #111d32ad;
}
.dropdown-menu{
    background-color: var(--white-color);
    position: absolute;
    width: 1100px;
    z-index: 2;
    top: 110%;
    left: -300%;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
}
.view-page .showcase-btn .btn1, .view-page .showcase-btn .btn2{
    position: absolute;
    bottom: 20%;
    left: 25%;
    padding: 10px 20px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    z-index: 3;
    overflow: hidden;
    transition: all 0.5s ease;
    transition-delay: 0.1s;
    transform: translatey(100%);
}
.view-page:hover .showcase-btn .btn1{
    visibility: visible;
    opacity: 1;
    transform: translateY(-200%);
}
.view-page:hover .showcase-btn .btn2{
    visibility: visible;
    opacity: 1;
    transform: translateY(-70%);
}
/* home-page showcase */
.view-page{
    display: flex;
    margin: 25px;
}
.view-page img{
    width: 230px;
    height: 280px;
    border-radius: 10px;
}
.showcase::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(15, 25, 44, 0.4);
    border-radius: 10px;
    transition: all 0.6s;
    transform: translateY(-100%);
}
.showcase:hover::after{
    transform: translateY(0%);
    backdrop-filter: blur(2px);
}
.showcase:hover {
    backdrop-filter: blur(0px);
}
.dropdown-menu h3{
    color: var(--primary-color);
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    font-family: 'Youth and Beauty';
    margin-bottom: 15px;
    margin-top: -20px;
}
/* other header dropdown */
.sub-dropdown{
    background-color: var(--white-color);
    position: absolute;
    min-width: 250%;
    z-index: 2;
    top: 100%;
    left: 0%;
    padding: 15px 20px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transform: scale(0);
    transform-origin: top;
    transition: all 0.5s;
    border-radius: 10px;
    flex-direction: column;
}
.sub-dropdown span{
    padding: 5px;
    transition: all 0.8s;
    margin-bottom: 10px;
}
/* banner */
.swiper{
    width: 100%;
    height: 600px;
}
.banner, .banner2, .banner3{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    height: 650px;
    position: relative;
}
.banner{
    background-image: url('../img/main-slider-1.jpg');
}
.banner2{
    background-image: url('../img/main-slider-2.jpg');
}
.banner3{
    background-image: url('../img/main-slider-3.jpg');
}
.banner .overlay, .banner2 .overlay, .banner3 .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(6, 29, 73, 0.533);
}
.box{
    width: 500px;
    background-color: rgba(12, 26, 53, 0.678);
    filter: grayscale(0%);
    padding-left: 100px;
    box-shadow: 0px 5px 55px 55px rgba(12, 26, 53, 0.678);
}
.line{
    width: 85%;
    height: 11px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,6,94,1) 25%, rgba(3,134,204,1) 54%, rgba(2,168,227,1) 74%, rgba(0,212,255,1) 87%);
    border-radius: 30px;
    margin-bottom: 10px;
}
.box .banner-content h1{
    color: var(--white-color);
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 20px;
}
.box .banner-content p, .why-choose .title p{
    color: var(--font-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
/* feature */
.feature-one, .why-choose{
    background-color: var(--secondary-color-100);
    position: relative;
    overflow: hidden;
}
.feature-1{
    background-color: var(--secondary-color);
    border-radius: 10px;
    height: 300px; 
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}
.feature-1:hover{
    transform: translateY(-10px);
}
.shap{
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    filter: opacity(100%);
    transition: all 0.5s;
    transform: translate(0px,0px) scale(0);
}
.feature-1:hover .shap{
    top: 25%;
    left: 35%;
    transform: translate(50px,50px) scale(1);

}
.feature-1 .overlay, .service-box .overlay, .blog-box .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(36, 55, 92, 0.451);
    transition: all 0.5s;
    transform: translateY(100%);
}
.feature-1:hover .overlay, .service-box:hover .overlay, .blog-box:hover .overlay{
    transform: translateY(0%);
}
.feature-1 span{
    position: absolute;
    top: 15%;
    right: 15%;
    font-family: 'Michelle Outline';
    z-index: 1;
    color: var(--icon-color);
    font-size: 50px;
    letter-spacing: 3px;
    transition: all 0.4s;
    opacity: 0;
}
.feature-1:hover span{
    opacity: 1;
}
.feature-1 h3{
    color: var(--black-color);
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    left: 20%;
    bottom: 40%;
}
.feature-1 p{
    color: var(--font-color);
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    line-height: 1.5;
    padding: 25px 30px;
    position: absolute;
    z-index: 1;
    bottom: 10px;
}
.img-box, .img-box2{
    width: 150px;
    height: 130px;
    background: rgb(32,3,255);
    background: linear-gradient(0deg, rgba(32,3,255,0.35057773109243695) 0%, rgba(15,201,212,0.8547794117647058) 73%);
    border-bottom-right-radius: 100%;
    border-top-right-radius: 1%;
    border-bottom-left-radius: 1%;
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: 1;
}
.img-box img{
    width: 90px;
}
.img-box2 img{
    padding: 10px;
}
/* About */
.about-us{
    background-color: var(--secondary-color);
    height: auto;
}
/* w-6 left-side */
.about-left img{
    position: relative;
    border-radius: 10px;
}
/* w-6 right side */
.about-company{
    padding: 15px;
    margin-left: 35px;
}
.about-company .title p{
    font-size: 20px;
    color: var(--btn-color);
    margin-top: 15px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-bottom: 25px;
}
.about-company ul {
    font-weight: 500;
    line-height: 2;
    font-size: 17px;
    font-weight: 400;
    flex-direction: column;
    color: var(--black-color);
}
.about-company img{
    width: 18px;
    margin-right: 5px;
    display: inline-block;
}
.about-company p, .service-box .title p, .blog-content p{
    color: var(--font-color);
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 30px;
}
/* our service */
.services{
    background-color: var(--primary-color);
}
.service-box, .service-content{
    background-color: var(--secondary-color);
    border-radius: 10px;
    height: 270px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
    padding: 25px 20px;
    position: relative;
}
.service-box .title h2{
    text-align: justify;
    font-size: 38px;
}
.box-1{
    background-image: url('../img/services-1.jpg');
}
.box-2{
    background-image: url('../img/services-2.jpg');
}
.box-3{
    background-image: url('../img/services-3.jpg');
}
.box-4{
    background-image: url('../img/services-4.jpg');
}
.box-5{
    background-image: url('../img/services-5.jpg');
}
.service-box h3{
    position: absolute;
    z-index: 1;
    color: var(--white-color);
    bottom: 12%;
    font-size: 22px;
    font-weight: 500;
    transition: all 0.5s;
}
.service-box:hover h3{
    color: var(--icon-color);
}
.service-content{
    padding: 50px;
    text-align: justify;
    margin: 0;
}
.service-content span{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.service-content h3{
    color: var(--black-color);
    font-size: 22px;
    margin: 20px 0px;
    line-height: 1.5;
}
/* why choose */
.why-choose{
    overflow: hidden;
    transition: all 0.5s;
}
.why-choose .shap3{
    position: absolute;
    width: 70%;
    bottom: 55%;
    right: -53%;
    animation: beat 1s ease-in-out infinite alternate;
}
.why-choose .shap2{
    position: absolute;
    width: 70%;
    top: -40%;
    right: -20%;
    animation: beat 1s ease-in-out infinite alternate;
}
.why-choose .shap1{
    position: absolute;
    width: 70%;
    top: -30%;
    right: -5%;
    animation: beat 1s ease-in-out infinite alternate;
}
.why-choose .shap4{
    position: absolute;
    width: 70%;
    bottom: -35%;
    right: -20%;
    animation: beat 1s ease-in-out infinite alternate;
}
.why-choose .shap5{
    position: absolute;
    width: 70%;
    bottom: -13%;
    right: -47%;
    animation: beat 1s ease-in-out infinite alternate;
}
@keyframes beat{
    from{
        transform: translateY(3%);
    }
    to{
        transform: translate(0%);
    }
}
/* why-choose-content */
.icon-box1{
    background-color: var(--secondary-color);
    margin: 10px 5px;
    width: 230px;
    display: inline-block;
    text-align: center;
    padding: 25px;
    overflow: hidden;
    position: relative;
}
.icon-box1 img{
    width: 50px;
    display: inline-block;
}
.icon-box1 h3{
    color: var(--black-color);
    margin-top: 15px;
    transition: all 0.5s ease;
    transform: translatey(-200%);
    font-size: 18px;
    position: absolute; 
    top: 80%;
    left: 15%;
}
.icon-box1:hover h3{
    transform: translatey(120%);
}
.icon-box1 p{
    color: var(--font-color);
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    transition-delay: 0.1s;
    transform: translatey(-280%);
    visibility: hidden;
}
.icon-box1:hover p{
    transform: translatey(10%);
    visibility: visible;
}
.why-choose .img{
    position: absolute;
    top: 10%;
    width: 55%;
}
/* reviews */
.review{
    background-color: var(--btn-color);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.review-1{
    height: 100px;
    background-color: transparent;
    margin: 10px;
}
.review .shap1{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    filter: opacity(20%);
    animation: beat 1s ease-in-out infinite alternate;
}
.review .shap2{
   position: absolute;
   top: 0%;
   right: 0%;
   filter: opacity(20%);
    animation: beat 1s ease-in-out infinite alternate;
   z-index: -1;
}
.review-1 img, .side-details-content img{
    display: inline-block;
    width: 70px;
}
.review-1 span{
    color: var(--white-color);
    font-size: 30px;
    margin-left: 15px;
    font-weight: 700;
    font-family: 'Youth and Beauty';
}
.review-1 h3{
    font-size: 20px;
    font-weight: 300;
    color: var(--white-color);
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
}
/* team experience  */
.experience{
    background-color: var(--secondary-color-100);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.experience .shap1{
    position: absolute;
    top: -10%;
    right: 0;
    z-index: -1;
    filter: grayscale(100%) opacity(10%) ;
    animation: beat 1s ease-in-out infinite alternate;
}
.our-team{
    position: relative;
    z-index: 1;
    margin: 35px;
}
/* dashed box */
.our-team::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    transform: rotate(-7deg);
    z-index: -1;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
}
.our-team:hover::after{
    border: 2px dashed var(--icon-color);
}
/* overlay */
.our-team::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background-color: rgba(15, 25, 44, 0.5);
    transform: perspective(1000px) rotatex(-90deg) scaleY(0);
    transform-origin: center;
    transition-delay: 0.2s;
    box-sizing: border-box;
    transition: all 0.6s ease-in;
}
.our-team:hover::before{
    transform: perspective(1000px) rotatex(-180deg) scaleY(1);
}
.experience .our-team img{
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}
.experience .w-12, .blog .w-12, .we-provide .w-12{
    text-align: center;
}
/* icon ribbon */
.icon-box{
    position: absolute;
    background-color: var(--icon-color);
    width: 50px;
    height: 50px;
    bottom: -5%;
    right: 10%;
    padding: 15px;
    transition: all 0.8s;
    border-radius: 10px;
}
.icon-box:hover{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    background-color: #015fc9;
}
.icon-box ul, .side-box ul, .side-details-content ul{
    flex-direction: column;
}
.icon-box li a i, .icon-ribbon li a i{
    font-size: 18px;
    color: var(--white-color);
}
.icon-ribbon{
    position: absolute;
    bottom: 100%;
    right: 0%;
    background-color: #015fc9;
    width: 50px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
    transform: perspective(1000px) scaleY(0);
    text-align: center;
    transform-origin: bottom;
    transition: all 0.5s ease-in;
}
.icon-box:hover .icon-ribbon{
    transform: perspective(1000px) scaleY(1);
}
.icon-ribbon li{
    line-height: 20px;
    padding: 2px;
    margin-bottom: 12px;
}
.heading {
    margin-left: 50px;
}
.heading span{
    color: var(--btn-color);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 15px;
}
.heading h3, .blog-content h3, .footer-details h3, .footer-gallery h3, .subscribe h3, .side-details-content h3{
    color: var(--black-color);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.2px;
    transition: all 0.4s ease;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.cookie{
    width: 500px;
    padding: 15px 20px;
    margin: 40px auto 0px;
    border: 2px dashed var(--icon-color);
    border-radius: 10px;
    filter: opacity(80%);
    transform: scale(1);
    transition: all 1s ease;
}
.cookie:hover{
    transform: scale(1.05);
}
.cookie p{
    color: var(--font-color);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
/* testimonial-one */
.testimonial-one{
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.testimonial-one .shap1{
    position: absolute;
    top: -8%;
    left: 40%;
    width: 100%;
    filter: opacity(20%);
    z-index: -1;
    animation: beat 1s ease-in-out infinite alternate;
}
.testimonial-one .shap2{
    position: absolute;
    top: 60%;
    left: 0%;
    width: 100%;
    filter: opacity(25%);
    z-index: -1;
    animation: beat 1s ease-in-out infinite alternate;
}
.testimonial-one .w-6 p{
    color: var(--font-color);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.5;
}
.testimonial-one .rating{
    background-color: var(--secondary-color-100);
    margin-top: 30px;
    border-radius: 20px;
    position: relative;
    transition: all 0.5s ease;
    padding: 70px 20px 20px 50px;
    overflow: hidden;
}
.rating-content img{
    position: absolute;
    top: 0%;
    right: 0%;
    border: none;
    border-radius: 0%;
    transition: all 0.7s ease;
    filter: grayscale(100%) opacity(15%);
}
.rating:hover{
    transform: translateY(-12px);
}
.rating:hover .rating-content img{
    filter: none;
    border: none;
    border-radius: 0%;
}
.person-img{
    border-top-left-radius: 50px;
    border: 5px solid var(--white-color);
    transition: all 0.3s ease;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}
.rating .quote-box{
    background-color: var(--secondary-color-100);
    top: 17%;
    left: 27%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    padding: 15px;
}
.rating-star {
    position: absolute;
    top: 30%;
    right: 40%;
}
.rating-star li i{
    color: #fab600;
    font-size: 15px;
}
.rating .heading{
    position: absolute;
    top: 40%;
    right: 20%;
}
/* blog */
.blog{
    background-color: var(--secondary-color-100);
    overflow: hidden;
}
.blog-box{
    height: 250px;
    background-color: #111d32;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}
.img1{
    background-image: url('../img/blog-07-370x270.png');
}
.img2{
    background-image: url('../img/blog-06-370x270.png');
}
.img3{
    background-image: url('../img/blog-05-370x270.png');
}
.blog-box .overlay i{
    color: var(--white-color);
    position: absolute;
    right: 45%;
    font-size: 30px;
    transition: all 0.5s ease;
    transition-delay: 0.1s;
    transform: translatey(0%);
    z-index: 1;
}
.blog-box:hover .overlay i{
    transform: translatey(430%);
}
/* blog-content */
.blog-content{
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.calendar ul li i{
    padding-left: 10px;
    color: var(--btn-color);
}
.calendar ul li span{
    font-size: 14px;
    margin-right: 10px;
    padding-left: 5px;
    font-weight: 500;
    margin-bottom: 10px;
}
.blog-content:hover h3{
    color: var(--btn-color);
    transition: all 0.6s ease;
}
.blog-content a{
    color: var(--black-color);
    font-size: 16px;
    padding: 10px;
}
.blog-content i{
    padding-left: 5px;
    font-size: 10px;
}
.blog-content:hover a{
    color: var(--icon-color);
    transition: all 0.8s ease;
}
/* claim */
.claim{
    background-color: var(--secondary-color-100);
}
.our-claim{
    height: 170px;
    position: relative;
    overflow: hidden;
    background: rgb(6,158,227);
    background: linear-gradient(0deg, rgba(6,158,227,1) 0%, rgba(5,141,220,1) 10%, rgba(1,95,201,1) 61%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
    padding: 30px;
}
.our-claim .shap1{
    position: absolute;
    top: 30%;
    left: -10%;
    z-index: -1;
    animation: beat 1s ease-in-out infinite alternate;
}
.our-claim .shap2{
    position: absolute;
    top: 40%;
    z-index: -1;
    left: 5%;
    animation: beat 1s ease-in-out infinite alternate;
}
.our-claim .shap3{
    position: absolute;
    top: 30%;
    z-index: -1;
    right: 0%;
    animation: beat 1s ease-in-out infinite alternate;
}
.our-claim .shap4{
    position: absolute;
    top: 0%;
    z-index: -1;
    right: -15%;
    animation: beat 1s ease-in-out infinite alternate;
}
/* claim-book box */
.book-box img{
    width: 110px; 
    position: absolute;
    top: 30%;   
    padding-left: 30px;
}
.book-box span{
    position: absolute;
    top: 30%;
    left: 18%;
    color: var(--white-color);
    font-size: 15px;
}
.book-box h3{
    position: absolute;
    top: 50%;
    left: 18%;
    color: var(--white-color);
    font-size: 35px;
}
.book-box .primary-btn{
    position: absolute;
    right: 10%;
    top: 40%;
    background-color: var(--btn-color);
    color: var(--secondary-color);
    font-weight: 600;
}
.book-box .primary-btn:hover{
    background-color: var(--secondary-color-100);
    color: var(--black-color);
}
/* we-provide */
.we-provide{
    background-color: var(--secondary-color);
}
.we-provide .w-3, .we-provide .w-9{
    margin-top: 50px;
}
.side-box, .side-details{
    background-color: var(--secondary-color-100);
    margin-top: 50px;
    margin: 10px;
    padding: 25px;
    position: relative;
}
.side-box ul li{
    padding: 20px 35px;
    border-bottom: 1px solid #333333;
}
.side-box ul li a{
    color: var(--black-color);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 300;
}
.side-box::after{
    position: absolute;
    content: '';
    width: 5px;
    height: 380px;
    background-color: #4d4d4d75;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.side-details-content p{
    color: var(--font-color);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.side-details-content ul li{
    line-height: 1;
    color: var(--black-color);
    font-size: 15px;
    margin-top: 15px;
}
.side-details-content ul li i{
    margin-right: 10px;
}
.we-provide .w-9 .row *{
    display: flex;
}
.side-details-content{
    flex-direction: column;
    padding: 15px;
}
.side-details-content h3{
    margin-top: 20px;
}
.side-details-img img{
    width: 630px;
    border-radius: 10px;
}
/* footer */
footer{
    background-color: var(--primary-color);
    display: flex;
    vertical-align: top;
}
footer .logo a img{
    margin-bottom: 25px!important;
}
footer .logo p, .subscribe p{
    color: var(--font-color);
    line-height: 1.5;
}
footer .logo ul{
    margin-top: 10px;
}
footer .logo ul li i {
    border: 2px solid var(--btn-color);
    padding: 10px;
    border-radius: 30px;
    margin: 5px;
    color: var(--white-color);
    transition: all 0.5s;
}
footer .logo ul li i:hover{
    color: var(--btn-color);
    background-color: var(--white-color);
}
footer .footer-details h3{
    margin-bottom: 25px!important;
}
.footer-details ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
footer .footer-details ul li{
    margin-bottom: 8px;
}
.footer-details ul li i{
    color: var(--btn-color);
}
.footer-details p{
    color: var(--white-color);
    margin: 10px 0px;
    font-size: 16px;
}
.footer-details ul li span{
    padding-right: 15px;
    padding-left: 5px;
    line-height: 2;
    font-size: 14px;
}
/* footer-gallery */
.footer-gallery .row > *{
    margin: 3px;
    padding: 0;
}
.footer-gallery h3{
    margin-bottom: 25px!important;
}
footer .w-3{
    padding: 0px 10px!important;
}
.footer-gallery .box6{
    display: flex;
    margin-bottom: 10px;
}
.footer-gallery .box6 img{
    margin-right: 10px;
}
/* subscribe */
.subscribe h3{
    margin-bottom: 20px!important;
    padding: 0;
}
.subscribe-now{
    position: relative;
    margin: 20px 0px;
}
.form-control{
    padding: 12px;
    width: 70%;
    background-color:#111d32;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.subscribe-now i{
    color: var(--font-color);
    font-size: 16px;
    padding: 12px;
    background-color: #111d32;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 17px;
}
.subscribe-now::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 42%;
    width: 83%;
    height: 1px;
    background-color: var(--font-color);
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: all 0.3s linear;
}
.subscribe-now:hover::after{
    transform: translateX(-50%) scaleX(1);
}
.footer-details h3, .footer-gallery h3, .subscribe h3{
    color : var(--white-color)
}