@font-face {
    font-family: 'Michelle Outline';
    src: url('MichelleOutline-Regular.woff2') format('woff2'),
        url('MichelleOutline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

